# For use with language-fudomo in Atom
decomposition: presi2beamer.fudomo
functions: presi2beamer_functions.js
data: presi2beamer.yaml
output: presi2beamer.tex
# postprocess: |
#   rm -f presi2beamer.pdf presi2beamer.aux presi2beamer.log presi2beamer.nav presi2beamer.out presi2beamer.snm presi2beamer.toc presi2beamer.vrb
#   pdflatex -halt-on-error presi2beamer.tex && pdflatex -halt-on-error presi2beamer.tex && rm -f presi2beamer.aux presi2beamer.log presi2beamer.nav presi2beamer.out presi2beamer.snm presi2beamer.toc presi2beamer.vrb && rm -f presi2beamer.aux presi2beamer.log presi2beamer.nav presi2beamer.out presi2beamer.snm presi2beamer.toc presi2beamer.vrb
